@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Crud Funcionário</h1>
    <p class="lead">Clique no botão abaixo para acessar a tela de Gestão de Funcionários.</p><br />
    <p><a href="Funcionario/" class="btn btn-primary btn-lg">Gestão de Funcionários &raquo;</a></p>
</div>